{% extends "base.html" %}
{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome, fellow internaut!</h1>
            <p>This is a simple blog page written using Flask, SQLite and Bootstrap. I made this site to 
                learn how to perform CRUD using Flask. Feel free to have a go by brwosing to the posts page 😊</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Write a post
                    &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}