{% extends "base.html" %}
{% block head %}
<title>Posts</title>
{% endblock %}

{% block body %}

<br>
<div>
    <h2 style="display: inline">All posts</h2>
    <a class="btn btn-success float-right" href="/posts/create">+ Create New Post</a>
</div>
<hr>
<br>
{% for post in posts %}
<h3>{{ post.title }}</h3>
{% if post.author %}
<small>By: {{ post.author }} on {{ post.date_posted }}</small>
{% else %}
<h4>By: N/A</h4>
{% endif %}
<br><br>
<p style="white-space:pre-wrap">{{ post.content }}</p>
<br>
<a class="btn btn-danger" href="/posts/delete/{{ post.id }}">Delete</a>
<a class="btn btn-primary" href="/posts/update/{{ post.id }}">Edit</a>
<hr>
{% endfor %}

{% endblock %}