{% extends "base.html" %}
{% block head %}
<title>Edit Post</title>
{% endblock %}

{% block body %}

<hr>
<h2>Edit Post</h2>
<form action="/posts/update/{{ post.id }}" method="POST">
    <label for="title">Title</label>
    <input class="form-control" type="text" value={{ post.title }} type="text" name="title" id="title">
    <br>
    <label for="author">Author</label>
    <input class="form-control" type="text" value={{ post.author }} type="text" name="author" id="author">
    <br>
    <label for="content">Post</label>
    <textarea class="form-control" name="content" id="content" rows="3">{{ post.content }}</textarea>
    <br>
    <input type="submit" value='Save Post' class="btn btn-success"> <a href="/posts" class="btn btn-secondary">Cancel</a>
</form>
<hr>

{% endblock %}